body {
    background-color: #D4E6F1 !important;
    text-transform: lowercase;
}
#front-wrapper {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #fff;
    padding-top: 60px;
    background-color: #21618C;
    background-image: linear-gradient(
            60deg,#327DB0,#21618C);
    position: relative;
    padding-bottom: 300px;
}
.custom-shape-divider-bottom-1632839584 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}
#footer {
    background-color: #D4E6F1;
    color: #5499C7;
}
#form {
    background-color: #1B4F72;
    border-radius: 12px;
    width: 95%;
    max-width: 900px;
    box-shadow: 0 20px 25px -5px rgb(6 20 41 / 10%), 0 10px 10px -5px rgb(6 20 41 / 4%);
}
#form h1, #form h2 {
    color: #A9CCE3;
    font-weight: bold;
}
#header h1 {
    font-size: 4em;
    letter-spacing: 3px;
}
#form h1 {
    color: #A9CCE3;
}
#form h2 {
    font-size: 2.4em;
}
#footer h2 {
    font-size: 2.6em;
    letter-spacing: 1px;
}

hr {
    width: 70%;
}
#timer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.number-list {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.number-list .item {
    width: 60px;
    height: 60px;
    background: #21618C;
    margin-right: 15px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: #A9CCE3;
    font-weight: 700;
    font-family: sans-serif;
    box-shadow: 0 5px 5px 1px rgb(6 20 41 / 10%), 0 5px 5px 1px rgb(6 20 41 / 4%);
}
.unit-list {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}
.unit-list .item {
    width: 60px;
    margin-right: 15px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: #A9CCE3;
    font-weight: 500;
    font-family: sans-serif;

}

#footer .font-icon {
    font-size: 2.5em;
}
.button {
    background-color: #21618C;
    color: #A9CCE3;
    padding: 12px 24px;
    font-weight: bold;
    transition: 0.3s;
}
.button:hover {
    color: #A9CCE3;
    padding: 12px 42px;
    box-shadow: 0 20px 25px -5px rgb(6 20 41 / 10%), 0 10px 10px -5px rgb(6 20 41 / 4%);
}
a {
    text-decoration: none;
    color:#5499C7;
}
a:hover {
    color: #1F618D;
}
.form-control {
    background-color: #21618C;
    color:#A9CCE3;
    border: 1px solid #1F618D;
}
.form-control:focus {
    background-color: #21618C;
    color:#A9CCE3;
    border: 1px solid #1F618D;
    box-shadow: 0 0 0 0.1rem #154360
}